*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
}

.video_bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -100;
}

.container{
    position: relative;
    width: 100%;
    max-width: 712px;
    margin: 0 auto; 
    top:300px;
    
}

.main_intro{
    width: 100%;
}

.text_big{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

.text_sub{
    color: rgb(231, 243, 253);
    font-size: 16px;
}

.nav{
    font-size: 18px;
    position: fixed;
    width: 100%;
}

.nav_list{
    display: flex;
    justify-content: center;
   
}

.nav_item{
    list-style: none;
}

.nav_item + .nav_item{
    margin-left: 1rem;
}

.nav_list_link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

span{
    margin: 0 10px;
}

.sub_intro{
    width: 100%;
    text-align: center;
}

.section_1{
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

.section_2{
    position: relative; 
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background: #000;
}